<!DOCTYPE html>
<html ng-app = "addSkills">
  <head>
      <title> NicheGuru Home </title>
      <link rel = "stylesheet" type = "text/css" href = "main.css"> </link>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
      <script src="/js/controller.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:500,300,700,400italic,400">
   </head>

  <body ng-controller = "addSkillsController">
    <div class="search">
  <input type="text" id = "searchValue" class="search-box" placeholder = "seach for a niche! (Ex. watch)" />
  <input id = 'formButton' type="submit" value=""class="search-btn" />
</div>


<script>
$(document).ready(function(){
  // console.log($('#formButton').val());
  $('#formButton').click('submit', function(){
    console.log($('#searchValue').val())
    var input = $('#searchValue').val();
    console.log('input: ' + input);
    // $('gTrends').attr('src').replace('watch', input);
    $('#gTrends').attr('src', "http://www.google.com/trends/fetchComponent?hl=en-US&q=" + input + ", &cmpt=q&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=640&h=330");

    $('#addToProfile').click('submit', function(){
      console.log("niche added to profile: " + input);
    })
  })



})
</script>

<div style='position:relative; left: 400px; bottom: 75px;'>
<iframe id = 'gTrends' scrolling="no" style="border:none;" width="640" height="330" src="http://www.google.com/trends/fetchComponent?hl=en-US&q=watch, &cmpt=q&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=640&h=330">
</iframe>
</div>
<!--
<iframe id = 'shopifyQuiz' scrolling='no' style = 'border:none' width='750' height='350' src = "https://ecommerce.shopify.com/pages/product-grader">
</iframe> -->

<!-- Trigger to open the modal -->
<button id = 'myBtn'> Evaluation </button>

<!-- The Modal -->
<div id = 'myModal' class = 'modal'>
<div id='container' class = 'modal-content'>
  <span class="close">&times;</span>
			<div id='title'>
				<h1>Niche Evaluation</h1>
			</div>
   			<br/>
  			<div id='quiz'></div>
    		<div class='button' id='next'><a href='#'>Next</a></div>
    		<div class='button' id='prev'><a href='#'>Prev</a></div>
    		<div class='button' id='start'> <a href='#'>Start Over</a></div>

    	</div>
  </div>
<!-- end modal -->
<!-- Progress Bar -->
<div id="myProgress">
  <div id="myBar">
    <div id="label">0%</div>
  </div>
</div>

<br>
<button onclick="move()" id='estimateButton'>Success Estimate</button>

<!-- start modal -->


<!-- end modal -->

<button id = 'analysisReport' type="submit"> Analysis Report </button>

<div class="Profilecontainer">
  <div class="Propic">AZ</div>
  <div class="Proname">AnthonyZacharev</div>
</div>

<form name="skillsFrm" ng-submit="addSkill()">
     <input type="text" name="newSkill" ng-model="newSkill" required />
     <button ng-disabled="skillsFrm.$invalid" ng-click="addSkill()">Add</button>
  </form>

  <ul>
    <li ng-repeat="skill in skills" class="{'fadeOut' : skill.done}">
      <span class="fa fa-close" ng-click="deleteSkill($index)"></span>
      <span>{{skill.title}}</span>
    </li>
  </ul>


<!-- <script>
function move() {
  var elem = document.getElementById("myBar");
  var width = 10;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 90) {
      clearInterval(id);
    } else {
      width++;
      elem.style.width = width + '%';
      document.getElementById("label").innerHTML = width * 1  + '%';
    }
  }
}
</script> -->

		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
		<script type="text/javascript" src='questions.json'></script>
		<script type='text/javascript' src='jsquiz.js'></script>



<!-- $('img').attr('src').replace('gray', 'green'); -->



<!-- <script>
$(document).ready(function(){
  console.log('jquery working');
var getSearchValue = $('searchValue').val();
console.log(getSearchValue);
});
</script> -->

<!-- {{nCtrl.greeting}}  -->


<!-- Original iframe code -->
 <!-- <iframe scrolling="no" style="border:none;" width="640" height="330" src="http://www.google.com/trends/fetchComponent?hl=en-US&q=danbo+robot,danbo+amazon,danbo+yotsuba &cmpt=q&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=640&h=330">
</iframe> -->
<script src="/js/mainScript.js"></script>

  </body>
</html>
